// _herovdo.scss - NREZA

/*

// Put this in HTML

<video id="vdo" autoplay loop poster="...">
    <source src="..." type="video/webm">
    <source src="..." type="video/mp4">
</video>

*/

video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; 
}

#vdo {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1; 
}


.glss {
  position: absolute;
  top:0;
  min-width: 100%;
  min-height: 90.000em;
  z-index: 0;
}
