// style.scss - NREZA

@import 'norm';
@import 'toast';
@import 'palette';
@import 'unit';
@import 'fx';
@import 'default';
@import 'nuMotions';
@import 'nav';
@import 'structure';
@import 'typeface';
@import 'preloader';
@import 'herovdo';
//@import 'fp10';

/* STYLESHEET */

// NEW STRUCTURE 

.spc-hero {
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 90.000em; // 1440px
	height: 90.000em; // 1440px
	max-height: 100vh;
	overflow: hidden;
		@include bg-pearl;
}







// --
// @import 'vpm';
// @import 'vps';
